[submodule "actual/actual-server"]
	path = actual/actual-server
	url = git@github.com:actualbudget/actual-server.git
[submodule "actual/src"]
	path = actual/src
	url = git@github.com:actualbudget/actual-server.git
[submodule "flox/src"]
	path = flox/src
	url = https://github.com/D3v01dZA/flox.git
[submodule "vouch-proxy/vouch-proxy"]
	path = vouch-proxy/vouch-proxy
	url = git@github.com:vouch/vouch-proxy.git
[submodule "prism/prism.tools"]
	path = prism/prism.tools
	url = https://github.com/BLGardner/prism.tools.git
